<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.t2health.lib"
      android:versionCode="1"
      android:versionName="1.0">
    <application>
		<!-- 
			Configure the ORM 
			The class for the databaseOpenHelper is a subclass of 
			org.t2health.lib.db.DatabaseOpenHelper and will handle the 
			create/update of your database tables. This class has to exist 
			or the ORM will not initialize.
		-->
		<meta-data android:name="databaseName" android:value="test.db" />
		<meta-data android:name="databaseVersion" android:value="1" />
		<meta-data android:name="databaseOpenHelper" android:value="org.t2health.lib.test.MyDBOpenHelper" />

		<!-- 
			Turn on password protection 
			You need to add the password protection activities to the
			manifest so they can be run. 
		-->
		<meta-data android:name="securityEnabled" android:value="true" />
		<activity android:name="org.t2health.lib.security.UnlockActivity" />
        <activity android:name="org.t2health.lib.security.ForgotPasswordActivity" />
        <activity android:name="org.t2health.lib.security.ConfigureActivity" />

		<!-- 
			Turn on remote stack traces 
			Any exceptions that get thrown will be sent to this URL. Look in
			the docs/source folder of the this library project for an example of
			what the remote script should handle.
		-->
		<meta-data android:name="remoteStackTraceEnabled" android:value="true" />
		<meta-data android:name="stackTraceURL" android:value="http://www2.tee2.org/trace/report.php" />
		
		<!-- 
			Turn on analytics 
			Your project will need to have the appropriate jar in the libs 
			directory. The provider code will work with the jar automatically.
			(if the provider is supported).
			You may have to grant your app permission to location data if you
			intent to collect that information.
		-->
		<meta-data android:name="analyticsEnabled" android:value="true" />
		<meta-data android:name="analyticsProvider" android:value="provider here" />
		<meta-data android:name="analyticsKey" android:value="KEY GOES HERE" />
    </application>
    <uses-sdk android:minSdkVersion="6" />
</manifest> 